<div id="following">
  <h1>Following</h1>
  <h4> Stay notified on artist's new releases </h4>
  <div class='well' id="artist-search">
    <%= render partial: 'filters' %>
  </div>

  <div id="artists" class="center-box">
    <%= render partial: 'artists' %>
  </div>
</div>
