<h1>Records</h1>


<form method="get">
  Released: <%= select_tag(:date, options_for_select(['Coming soon', 'This week', 'Last week', '2 weeks ago', 'Last month', '2 months ago', '3 months ago'], :selected => params[:date]), :include_blank => true) %>
 Genre:  <%= select_tag(:genre, options_from_collection_for_select(Record.genrelist,"genre","genre", params[:genre])) %>
  <input type="submit" value="Filter" />
</form>

<div id='records'>
  <div class='page'>
    <%= render :partial => 'records' %>
  </div>
</div>

<%= will_paginate @records %>
