<h1>Records</h1>


<form method="get">
  <%= select_tag(:date, options_for_select(['Today', 'Coming soon'], :selected => params[:date]), :include_blank => true) %>
  <%= select_tag(:genre, options_from_collection_for_select(Record.genrelist,"genre","genre", params[:genre])) %>
  <input type="submit" value="Filter" />
</form>

<div id='records'>
  <div class='page'>
    <%= render :partial => 'records' %>
  </div>
</div>

<%= will_paginate @records %>
