<h1>Records</h1>


<form method="get">
  <%= select_tag("date", options_for_select(["Today", "Last week", "Last month", "Last 2 months", "Last 3 months", "Coming soon"])) %>
  <input type="submit" value="Filter" />
</form>

<div id='records'>
  <div class='page'>
    <%= render :partial => 'records' %>
  </div>
</div>

<%= will_paginate @records %>
