// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Fonts */
@font-face {
  font-family: blackout_2am;
  src: url( /fonts/blackout_2am.ttf );
}
@font-face {
  font-family: fingerpaint;
  src: url( /fonts/fingerpaint.ttf );
}
@font-face {
  font-family: raleway;
  src: url( /fonts/raleway_thin.ttf );
}
@font-face {
  font-family: franchise;
  src: url( /fonts/franchise-bold.ttf );
}
@font-face {
  font-family: league-gothic-reg;
  src: url( /fonts/league-gothic-reg.otf );
}
@font-face {
  font-family: roboto-black;
  src: url( /fonts/Roboto-Black.ttf );
}

body {
  // background: #cff;
  background: #EFEDED;
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  // margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  padding-left: 33px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#release-tab {
  padding-right: 50px;
}

.glyphicon-user {
  font-size: 25px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ----------------------------------*/

.modal.fade{
  -webkit-transition:opacity .1s linear;
  -moz-transition:opacity .1s linear;
  -ms-transition:opacity .1s linear;
  -o-transition:opacity .1s linear;
  transition:opacity .1s linear;
}

.modal-dialog {
  max-width: 400px;
}

.modal-content{
  text-align: center;
}

.modal-footer .links{
  float: left;
}

.wish-list-button {
  margin-top: 10px;
}

.filter {
  width: 95%;
  margin: 0 auto 20px auto;
}

.filter .reset{
  padding-top: 20px;
}

.container{
  width: 1400px;
}

#records {
  width: 95%;
  margin: 0 auto;
}

.record {
  width: 100%;
  float:left;
  padding: 0px 0px 16px 20px;
  background: #fff;
  // text-align: center;
  border-radius: 10px;
}

.record h2 {
  margin: 40px;
}

.pagination-centered {
  text-align: center;
}

.record-each:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
//  -moz-box-shadow: 3px 3px 4px #000;
//  -webkit-box-shadow: 3px 3px 4px #000;
//  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.record-each {
  width: 300px;
  height: 300px;
  // // padding: 16px 16px 0px 0px;
  margin: 20px 16px 0px 0px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
}

.record-cover img{
  width: 300px;
  height: 300px;
}

.record-each .popup {
    height: 55px;
    // height: 100%;
    width: 101%;
    text-align: center;
    // vertical-align:middle;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    display: none;
    position: relative;
    left: 0px;
    bottom: 170px;
    // bottom: 300px;
    font-size: .9em;
    line-height: 1.3em;
    //proper center logic
    // display: flex;
    // justify-content:center;
    // align-content:center;
    // flex-direction:column;
}

.no-cover{
  width: 300px;
  height: 300px;
  background-color: grey;
}

.no-cover a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.no-cover p{
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: raleway;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 1.9em;
  line-height: 1.3em;
}

/*-----------------------------------------*/

@media screen and (max-width: 430px) {
   .container{
        width:308px;
    }
  .record {
    padding: 4px 0px;
  }
  .record-each {
    width: 250px;
    height: 250px;
    margin: 4px 7px;
  }

  .record-cover img{
    width: 250px;
    height: 250px;
  }

  .no-cover{
    width: 250px;
    height: 250px;
  }

  .no-cover p{
    padding-top: 70px;
    font-weight: 900;
    font-size: 1.8em;
    line-height: 1.3em;
  }

  .record-each .popup {
    bottom: 160px;
    font-size: .83em;
    height: 65px;
  }
}

@media screen and (min-width: 431px) and (max-width: 767px) {
   .container{
        width:400px;
    }
  .record-each {
    margin: 12px 25px;
  }
  .record {
    padding: 13px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 830px) {
   .container{
        width:750px;
    }
  .record-each {
    margin: 25px 12px 0px 12px;
  }
  .record {
    padding: 0px 0px 25px 16px;
  }
}
@media screen and (min-width: 831px) and (max-width: 1070px) {
   .container{
        width:800px;
    }
  .record-each {
    margin: 45px 23px 0px 16px;
  }
  .record {
    padding: 0px 0px 40px 28px;
  }
}
@media screen and (min-width: 1071px) and (max-width: 1200px) {
   .container{
        width:1070px;
    }
}
