// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  background: #cff;
}

.filter {
  margin: 0 auto;
  width: 620px;
  padding: 10px 0px 10px 0px;
}

#records {
  margin: 0 auto;
  width: 1265px;
}

.record {
  width: 100%;
  white-space: nowrap;
  //min-width: 1200px;
  float:left;
  padding: 0px 0px 0px 16px;
  background: #fff;
//  -moz-border-radius:    10px;
//  -webkit-border-radius: 10px;
//  border-radius:         10px;
}

.pagination { 
//  float:left; 
  clear:both;
  margin: 0 auto;
  width: 420px;
  padding: 10px 0px 0px 280px;
}

.shadow:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px black;
	-webkit-box-shadow: 1px 1px 5px black;
        box-shadow: 5px 5px 5px black;
//  -moz-box-shadow: 3px 3px 4px #000;
//  -webkit-box-shadow: 3px 3px 4px #000;
//  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.record .record-each {
  width: 300px;
  height: 300px;
  padding: 16px 16px 0px 0px;
  float: left;
  //background: red;
  //position: relative;
}

.record .record-each img{
  width: 300px;
  height: 300px;
}

.record .record-each .popup {
    height: 70px;
    width: 300px;
    text-align: center;
    vertical-align:middle;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    display: none;
    //padding-top: 8px;
    position: relative;
    left: 1px;
    bottom: 150px;
}

