<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="logo">Fresh Records</a>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav navbar-nav navbar-right" id="release-tab">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "New Releases",    root_path %></li>
          <li class="<%= 'active' if current_page?(comingsoon_path) %>"><%= link_to "Coming Soon",    comingsoon_path %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
